<configuration>
	<system.net>
		<settings>
			<httpWebRequest useUnsafeHeaderParsing = "true"/>
		</settings>
	</system.net>
	<system.diagnostics>
	    <switches>
	      <add name="eSignLive" value="4" />
	    </switches>
	    <trace autoflush="true" indentsize="4">
	      <listeners>
	        <add name="File" type="Silanis.ESL.SDK.Internal.RollOverTextWriter, Silanis.ESL" initializeData="esl-sdk.log"/>
	      </listeners>
	    </trace>
  </system.diagnostics>
</configuration>